h1{
    text-align: center;
    padding:25px;
    margin-bottom:20px;
    background-image:url("../images/avengers.jpg");
    color:white;
    font-family: 'Anton', sans-serif;
}


form{
    float:right;
}

#user-input{
    margin:12px 10px auto;
    
}

#userBtn{
    
}


.btn {
    margin:10px;
}